
/* Fonts */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

/* Variables */

$dark: #191d4e;
$white: white;

/* General */

body {
    font-family: 'Open Sans', sans-serif;
    overscroll-behavior: none;
    scroll-behavior: smooth;
    overflow-x: hidden;  
    color: inherit;
}

.dark {
    background-color: $dark !important;
}

.highlight-disable {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}