$white: white;
$gray: #c7d6dc;
$green-light: #38c172;
$red-light: #ef5753;
$purple: #3231f9;
$blue-darker: #167ef6;
$blue: #009cf5;
$blue-light: #4a90e2;
$dark-element: #1a216c;
$dark: #191d4e;
$light: $white;

// Gradients
$transition: linear-gradient(90deg, $blue 10%, $purple 120%)
